header{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid grey;
}
header > img{
    margin-left: 40vw;
}
#sign{
    margin-left: 35vw;
}
#sign > input{
    width: 25vw;
    height: 5vh;
    border-radius: 0.25rem;
    border: 1px solid black;
    margin: 1vh 0;
}
#sign > div > p > a{
    color: rgb(59, 148, 250);
    text-decoration: none;
}
#sign > div > button{
    background-color: rgb(72, 72, 255);
    color: white;
    width: 26vw;
    height: 5vh;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2500rem;
}